<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Header}">
<head>
    <meta charset="utf-8" />

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{css/style_form.css}" />

    <title>Connexion</title>

</head>

<body>
<div class="signup-form">
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Pseudo ou mot de passe incorrects !
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            Vous avez été déconecté avec succès !
        </div>
    </div>
    <form th:action="@{/Connexion}" method="post" class="form-horizontal">
        <fieldset>
            <div class="text-center">
                <img src="img/logo_mini.png" alt="logo_mini" title="logo_mini" /></img>
            </div>
            <div class="col-xs-8 col-xs-offset-4 text-center">
                <h2>Connexion</h2>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4">Pseudo</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="pseudo"
                           required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Mot de passe</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" name="motDePasse"
                           required="required">
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        </fieldset>
    </form>
</div>
</body>
</html>