<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/mountain.png" rel="icon">
    <link href="/img/mountain.png" rel="mountain">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<!--==========================
Header
============================-->

<main id="main">
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="index" th:href="@{/index}"><img src="/img/logo_mini.png" alt="logo_mini" title="logo_mini_les_amis_de_escalade" /></img></a>

            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>Accueil</li>
                    <li>Sites d'escalades</li>
                    <li><a sec:authorize="isAnonymous()" href="/connexion" th:href="@{/connexion}">Connexion</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/profil}">[[${#httpServletRequest.remoteUser}]]</a></li>
                    <li><form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" value="Déconnexion" />
                    </form>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>

    </header><!-- #header -->

</main>

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/superfish/hoverIntent.js"></script>
<script src="/lib/superfish/superfish.min.js"></script>


<!-- Template Main Javascript File -->
<script src="/static/js/main.js"></script>



</html>