<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<!--==========================
Header
============================-->

    <header id="header">
        <div class="container">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>Accueil</li>
                    <li>Profil</li>
                    <li><a sec:authorize="isAnonymous()" href="/connexion" th:href="@{/connexion}">Connexion</a></li>
                    <!--<li><a sec:authorize="isAuthenticated()" th:href="@{/profil}">[[${#httpServletRequest.remoteUser}]]</a></li>-->
                    <li><form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" value="Déconnexion" />
                    </form>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>

    </header><!-- #header -->




</html>